.container {
    max-width: 70rem;
    padding: 0 1rem;
    margin: 0rem auto 0rem;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 10.5rem;
    height: 10.5rem;
    margin-top: 5rem;
}

.backToHome {
    margin: 3rem 0 0;
}

.footer {
    color: grey;
    padding: 20px;
    text-align: center;
}

.background {
    background-color: #f8f9fa;
}